<a 
  class="gallery-img-container" 
  href="<%=image_url image.url(:large) %>" 
  data-gallery="talent"
  data-toggle="lightbox"
  style="background-image: url('<%=image_url image.url(:large) %>')">
</a>