<a 
  class="gallery-img-container" 
  href="<%=image_url image.url(:large) %>" 
  data-gallery="talent"
  data-image-id="<%= image.name == :avatar ? 10 : image.instance.position %>"
  style="background-image: url('<%= image_url image.url(:large)%>')">
</a>