<div
  class="gallery-img-container"
  data-gallery="talent"
  data-image-id="<%= image.name == :avatar ? 10 : image.instance.position %>"
  style="background-image: url('<%= image_url image.url(:large)%>')">
</div>