<article class="favourites">

  <header id="page-header">

    <div id="header-content">
      <h1 id="page-title">
        Conspirators
      </h1>
    </div>
  </header>
  <div class="page-content">

    <%# partial: 'tag_selection' %> 
    <section class="section">

      <div class="section-content talents-section">
        <% @saved_talents.each do | saved_talent | %>
          <%= render partial: 'shared/talent_card', locals: {talent: saved_talent.talent } %>
        <% end %>
      </div>
    </section>
  </div>

</article>