<article class="talent">
  <div class="cover">
    <div class="cover-content" style="background-image:url('<%=image_url @talent.cover.url(:large) %>')">
      <header>
        <h1 class="page-title"><%= @talent.name %></h1>
        <h2 class="page-blurb"><%= @talent.appearance %></h2>
      </header>
    </div>
  </div>
</article>