<div class="cover">
  <div class="cover-content" style="background-image:url('<%=image_url @talent.cover.url(:large) %>')">
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>