<article class="article">
  <div class="page-content">
    <section class="section">
     <div class="news-article">
      <% if @article.video? %>
        <div class="news-article-video">
          <%= @article.article_video.video_info.embed_code.html_safe %>
        </div>
      <% elsif @article.images? %>
        <div class="news-article-slideshow">
        <% @article.article_images.all.each do |a|%>
          <div class="news-article-image" style="background-image:url(<%= a.image.url(:large) %>)">
          </div>
        <% end %>
        </div>
      <% end %>
     </div>
    </section>
  </div>
</article>