<article id="main" class="collaborators">
  <header id="page-header">
    <div id="header-content">
      <h1 id="page-title"><strong>
        Collaborators
      </strong></h1>
      <% if @page_text %>
        <h2>
          <%= @page_text %>
        </h2>
      <% end %>
    </div>
  </header>
  <div class="page-content">
    <section class="section">
      <div class="center-block collaborator-cards">
        <% @collaborators.each do |collaborator| %>
          <div class='collaborator-card'>
            <a href='<%= collaborator.url%>' target='_blank'>
              <div class='center-block collaborator-image-outer'>
                <div class='collaborator-image'>
                  <img src='<%=collaborator.logo.url(:small)%>'/>
                </div>
              </div>
              <div class='collaborator-name'>
                <%= collaborator.name %>
              </div>
            </a>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</article>