<div class="col-md-3">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title"><%= talent.name %></h4>
      <h6 class="card-subtitle text-muted"><%= talent.appearance %></h6>
    </div>
    <img class="card-img-bottom" data-src="<%= talent.avatar.url(:medium)%>">
  </div>
</div>