<div id="tag-selection">
  <% @tags.each do |tag| %>
    <span class="home-selection">Conspirators are</span>
    <a class="tag-selector home-selection" data-tag="<%= tag.id%>" href="#">
      <%= tag.name %>
    </a>
  <% end %>
</div>