<div id="tag-selection">
  <span class="home-selection">We are</span>
  <% @tags.each.with_index do |tag, index| %>
    <%= index != 0 ? "/" : '' %>
    <a class="tag-selector home-selection" data-tag="<%= tag.id%>" href="#">

      <%= tag.pluralize_in_home_page ? tag.name.pluralize(2) : tag.name %></a> 
  <% end %>
  <span class="home-selection">Conspirators</span>

</div>