<article class="homepage">
  <section class="section">
    <h1 class="section-header">Similar</h1>
    <div class="section-content">
      <% @talents.each do | talent | %>
        <%= render partial: 'shared/talent_card', locals: {talent: talent} %>
      <% end %>
    </div>
  </section>
</article>