#new_article, #edit_article {
  .article_video_field, .article_images_field {
    transition: opacity .5s;
    opacity: 0;
    &.initial {
      display: none;
    }
    &.visible {
      opacity: 1;
    }
  }
  .article_images_field .nav.nav-tabs a.is-featured:after {
    @extend .fa;
    margin-left: 5px;
    content: "\f005";
  }
}

.modal.fade .modal-dialog {
  transition: all 0.3s ease-out;
  transform: translate3d(-50%, -100%, 0);
  position: absolute;
  top: 0;
  left: 50%;
}
.modal.in .modal-dialog {
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
  top: 50%;
  left: 50%;
}
.modal .modal-dialog {
  .form-group{
    margin-left: 0;
    margin-right: 0;
  }
}