<article class="contact">

  <header id="page-header">

    <div id="header-content">
      <h1 id="page-title">
        Contact Us
      </h1>
    </div>
  </header>
  <div class="page-content">
    <section class="section">
    </section>
  </div>

</article>