<article class="contact">

  <header id="page-header">

    <div id="header-content">
      <%= @general %>
    </div>
  </header>
  <div class="page-content">
    <section class="section">
      <div class="col-md-6">
        <%= @agencies %>

      </div>
      <divx class="col-md-6">
        <%= @talents %>

      </div>
    </section>
  </div>

</article>