<article class="contact">

  <header id="page-header">

    <div id="header-content">
      <h1 id="page-title">
        Contact
      </h1>
    </div>
  </header>
  <div class="page-content">
    <section class="section">
      <div class="section-header">
      </div>
      <div class="section-content">
        <div class="col-md-8 col-lg-6">
          <h1>
          Contact us
          </h1>
        </div>
      </div>
    </section>
  </div>

</article>