<article class="contact">

  <header id="page-header">

    <div id="header-content">
      <%= @general %>
    </div>
  </header>
  <div class="page-content">
    <section class="section">
      <div class="col-md-6">
        <%= @agencies %>
        <div class="contact-button">
        <a class="action-button" href="mailto:contact@conspirators.berlin">Contact us</a>
        </div>
      </div>
      <div class="col-md-6">
        <%= @talents %>
        <div class="contact-button">
        <a class="action-button" href="mailto:contact@conspirators.berlin">Contact us</a>
        </div>
      </div>
    </section>
  </div>

</article>