body.articles {
  @include black-nav();
  background-color: black;
  .page-content {
    background-color: white;
  }
  &.index {
    .page-content {
      padding: 0;
    }
    .articles-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .article-card {
      overflow: hidden;
      position: relative;
      display: block;
      flex: 50% 0 0;
      &.featured {
        flex-basis: 100%;
        @include media-breakpoint-up(md) {
          height: calc(75vh - #{$header-height});
          h2 {
            font-size: 30px;
          }
        }
      }
      .article-card-image {
        width: 100%;
        height: 100%;
        position: absolute;
        background-position: center;
        background-size: cover;
        transition: all .5s;
        &:hover {
          @include scale-and-fade();
        }
      }
      h2 {
        font-size: 24px;
        color: white;
        position: absolute;
        left: 10px;
        bottom: 10px;
      }
      a {
        padding-bottom: 56%;
        display: block;
        width: 100%;
        height: 100%;
      }
      @include media-breakpoint-down(sm) {
        flex: 100% 0 0;
        h2 {
          font-size: 20px;
        }
      }
    }
  }
  &.show {
    .article-hero {
      max-width: calc(150vh - #{$header-height});
      width: 100%;
      margin: auto;
    }
    .logo {
      text-align: center;
      margin-top: 1.1em;
    }
    .article-video {
      position: relative;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .article-header {
      text-align: center;
      > * {
        margin: 1.1em 0;
      }
      h1 {
        font-size: 2.2em;
        font-weight: 900;
      }
      h2{

      }
    }
    .article-content{
      line-height: 1.9em;
    }
  }
}

// flickity
.article-slideshow {
  padding-bottom: 56%;

  .flickity-viewport {
    position: absolute;
    width: 100%;
  }

  .article-slideshow-cell {
    height: 100%;
    opacity: 0;
    transition: opacity .5s;
    &.is-selected{
      opacity: 1;
    }
  }

  .flickity-prev-next-button {
    width: 50px;
    height: 50px;
    background: transparent;
    transition: opacity .5s;
  }
  .flickity-prev-next-button:hover {
    background: transparent;
    opacity: .8;
  }

  /* arrow color */
  .flickity-prev-next-button .arrow {
    fill: black;
  }
  .flickity-prev-next-button.no-svg {
    color: black;
  }
  .flickity-prev-next-button.previous {
    left: 0;
    transform: translate(-100%, -50%);
  }
  .flickity-prev-next-button.next {
    right: 0;
    transform: translate(100%, -50%);
  }
  .flickity-page-dots {
    display: none;
  }
}
