body.articles {
  .page-content {
    background-color: white;
  }
  &.index {
    .articles-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .article-card {
      overflow: hidden;
      position: relative;
      display: block;
      flex: 50% 0 0;
      height: 300px;
      &.featured {
        flex-basis: 100%;
        @include media-breakpoint-up(md) {
          height: calc(75vh - #{$header-height});
          h2 {
            font-size: 30px;
          }
        }
      }
      .article-card-image {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        transition: all .5s;
        &:hover {
          @include scale-and-fade();
        }
      }
      h2 {
        font-size: 24px;
        color: white;
        position: absolute;
        left: 10px;
        bottom: 10px;
      }
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
      @include media-breakpoint-down(sm) {
        flex: 100% 0 0;
        h2 {
          font-size: 20px;
        }
      }
    }
  }
  &.show {
    .logo {
      text-align: center;
      margin-top: 1.1em;
    }
    .article-video {
      position: relative;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .article-header {
      text-align: center;
      > * {
        margin: 1.1em 0;
      }
      h1 {
        font-size: 2.2em;
        font-weight: 900;
      }
      h2{

      }
    }
    .article-content{
      line-height: 1.9em;
    }
    .article-slideshow {

    }
    .article-image {
      width: 100%;
      background-position: center;
      background-size: cover;
      padding-bottom: 45%;
    }
  }
}