.action-button {
  span.icon {
    color: white;
    border-color: white;
    transition: all 0.5s;
  }
  &:hover span.icon {
    color: $gray-lighter;
    border-color: $gray-lighter;
  }
  &.dark {
    color: $gray;

    span.icon {
      border-color: black;
      color: $gray;
    }
    &:hover {
      color: $gray-lighter;
      span.icon {
        border-color: black;
        background-color: transparent;
      }
    }
  } 
} 