.action-button {
  cursor: pointer;
  .icon-fave {
    padding: 0.2rem  0.3rem ;
    border: 1px solid white;
    border-radius: 0.2rem;
    font-size: 1.5rem;
    overflow: hidden;
  }

  span.icon {
    color: white;
    border-color: white;
    &:before {
      transition: all 0.5s;

    }
  }

  &.active {
    span.icon {
      border-color: $gray-lighter;
    }
  }
  &.dark {
    color: $gray;
    span.icon {
      color: $gray;
      border-color: $gray;
    }
  }
}