body.talents.favourites {
  @include static-footer();
  nav#navigation {
    position: fixed;
  }
  @include media-breakpoint-up(md) {
    .section-content h2 {
      padding-top: 1rem;
    }
  }

  #page-header {
    #header-content {
      #page-title {
      color: black;
      }

      h1 {

      }
    }
  }
  .page-content {
    position: static;
  }
  footer {
    position: static;
  }
  #page-title {
    font-family: 'Julius Sans One', sans-serif;
    padding-top: 0;
    padding-bottom: 1rem;
    text-align: center;
    .saved-talent-link {
      font-weight: bold;
      color: black;

      &:hover {
        color: $gray;

      }

    }
  }
  .right-align {
    text-align:right;
  }
}
