body.talents.favourites {
  nav#navigation {
    position: fixed;
    background-color: white;
  }
  @include media-breakpoint-up(md) {

    .section-content h2 {
      padding-top: 4rem;
    }
    form.form {

      height:100vh;
    }
  }
  #page-header {
    #header-content {
      #page-title {
      color: black;
      } 
      padding-top: 4rem;
      h1 {

      }
    }
  }
  .page-content {
    position: static;
    min-height: 50vh;
  }
  footer {
    position: static;
  }
  #page-title {
    font-family: 'Julius Sans One', sans-serif;
    padding-top: 0;
    padding-bottom: 1rem;
    text-align: center;
    .saved-talent-link {
      font-weight: bold;
      color: black;

      &:hover {
        color: $gray;

      }

    }
  }
  .right-align {
    text-align:right;
  }
}
