
footer {
  &:before {
    background-color: black;
    content: '';
    position: fixed;
    width: 100vw;
    height: 100%;
    left:50%;
    margin-left: -50vw;
  }
  color: white;
  margin-top: 10rem;
  position: fixed;
  height: 400px;
  @extend .container;
  .impressum {
    z-index: 2;
  }
}