
footer {
  color: white;
  margin-top: 10rem;
  height: 400px;
  padding-top: 100px;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: black;
  #footer-content {
    @extend .container;
    h2, h3 {
      font-weight: normal;
      margin-bottom: 0rem;
      margin-top: 1rem;
    }
    p {
      margin-bottom: 0rem;
      padding-left: 1rem;
    }
    #impressum {
      @include make-col();
      @include make-col-span(6);
      z-index: 2;
    }
  }
}