html body.overlaid {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  #page-cover {
    opacity: 0;
  }
  .close-gallery {
    display: block;
  }
  .page-title {

  }
} 

.overlaid #navigation {
  opacity: 0;
}
.overlaid .save-button {
  opacity: 0;
}
.close-gallery {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  margin-top: -0.3rem;
  margin-left: -1.3rem;
}

#gallery-overlay {

  position: fixed;
  display: block;
  left: 0;
  right: 0;
  transition: all 1s;
  background-color: black;
  margin: 0;
  height: 100%;
  top: 0;
  opacity: 0;
  .overlaid & {
    opacity: 1;
    z-index: 10000;
  }
  .arrow {
    content: ' ';
    width: 50vw;
    height: 90vw;
    cursor: pointer;
    position: absolute;
    top: 0;
    z-index: 4;
    &.back {
      left:0;
    }
    &.fwd {
      right:0;
    }
  }
  .overlay-img-container {
    width: 100%;
    height: 90vh;
    bottom: 0;
    position: absolute;
    background-position: center center;
    background-size: contain;
    background-color: black;
    background-repeat: no-repeat;
    opacity: 0;
    top: 10vh;  
    cursor: default;
    &.active {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      z-index: 3;
      transition: transform 1s;

    }
    &.next {
      transition: all 1s;
      transform: translate3d(100vw, 0, 0);
      opacity: 0.6;

    }
    &.prev {
      transition: all 1s;
      transform: translate3d(-100vw, 0, 0);
      opacity: 0.6;

    }
  }
}

.talent-gallery {
  position: relative;
  height: 44vw;

  .gallery-img-container {
    width: 100%;
    position: relative;

    background-position: center center; 
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    display: block;


  }

  .gallery-main {
    width: 40%;
    height: 100%;
    @media (max-width: map-get($grid-breakpoints, md)) {
      width: 65%;
      height: 160%
    }
    overflow: hidden;
    float: left;

    .gallery-img-container { 
      height: 100%;

    }

  }
  .gallery-col {
    width: 20%;
    height: 100%;
    float: left;
    position: relative;
    &.col-1 {
      .gallery-img-container:first-child {
        height: 55%;
      }
      .gallery-img-container:nth-child(2) {
        height: 45%;
      }
    }
    &.col-2 {
      .gallery-img-container:first-child {
        height: 45%;
      }
      .gallery-img-container:nth-child(2) {
        height: 55%;
      }
    }

    &.col-3 {
      .gallery-img-container:first-child {
        height: 70%;
      }
      .gallery-img-container:nth-child(2) {
        height: 30%;
      }
    }
    @media (max-width: map-get($grid-breakpoints, md)) {
      width: 50%;
      height: 160%;
      &.col-1 {
        width: 35%;
      }
    }

  }
}
