// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.home {
  nav#navigation {
    background-color:black;
  }
}
article.home {
  #page-header {
    background-color: black;
  }
  #tag-selection {

    font-family: 'Julius Sans One', sans-serif;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .tag-selector.home-selection {
      font-weight: normal;
      color: $gray;
      &.active, &:hover {
        color: black;

      }
      
      &.active {
        font-weight: bold;
        border-bottom: none;
      }

    }
    .home-selection {
      font-weight: bold;
    }
  }
}