// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.home {
  nav#navigation {
    background-color:black;
  }
}
article.home {
  #page-header {
    background-color: black;
  }
  #tag-selection {
    font-family: 'Julius Sans One', sans-serif;

    .tag-selector.home-selection {
      font-weight: normal;
      &.active, &:hover {
        text-decoration: underline;

      }

    }
    .home-selection {
      font-weight: bold;
    }
  }
}