body{
  position: relative;
}

#navigation {
  @extend .navbar;
  @extend .navbar-fixed-top;
  transition: all 0.5s;
  .logo {
    img {
      height: 1em;
    }
  }
}

.page-content {
  width: 100%;
  position: absolute;
  top: 400px;
  .section {
    @extend .container; 
    padding-top: 2rem;
    .section-header {
      @extend .display-4;
      text-align: right;
    }
  }
  .fullpage-section {
    @extend .container-fluid; 
    padding-left: 0;
    padding-right: 0;
    padding-top: 2rem;
    background-color:black;
    .section-header {
      @extend .display-4;
      @extend .container;
      color: $gray-lighter;
      text-align: right;
    }
  }
}

.grid {
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 25%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  width: 100%;
}
