$header-height: 83px;
$footer-height: 320px;
$header-and-footer-height: $header-height + $footer-height;

@mixin white-nav() {
  #navigation {
    background-color: white;
    .nav-item {
      &.current a:after {
        border-color: black;
      }
      a { color: black; }
    }
  }
}

@mixin black-nav(){
  #navigation {
    background-color: black;
    .nav-item {
      &.current a:after {
        border-color: $gray-lighter;
      }
      a { color: $gray-lighter; }
    }
  }
}

@mixin static-footer() {
  footer {
    position: static;
    margin-top: 0;
    z-index: -1
  }
  .page-content {
    margin-bottom: 0;
    min-height: 0px;
  }
  article {
    // contain collapsed margins
    padding-top: 1px;
    padding-bottom: 1px;
    min-height: calc(100vh - #{$header-and-footer-height})
  }
}

@mixin static-header-and-footer() {
  @include static-footer();
  nav#navigation {
    position: static;
  }
  article {
    margin-top: 0;
  }
}

@mixin scale-and-fade() {
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
  -webkit-transform: scale3d(1.1,1.1,1);
  transform: scale3d(1.1,1.1,1);
}