#nav-container {
  margin-top: $header-height;
}
@include white-nav();
#navigation {
  height: $header-height;
  @extend .navbar;
  @extend .navbar-fixed-top;
  transition: all 0.5s;

  .nav {
    .nav-item {
      margin-left: 0.4rem;
      position:relative;
      font-family: 'Julius Sans One', sans-serif;
      font-size: 0.8rem;
      &.current a:after {
        content: '';
        border-top: 1px solid;
        display:block;
        margin-bottom: -0.3rem;
      }
      &.faves {
        &.pop {
          opacity: 1;
        }
        &.present {
          margin-right: 0.4rem;
          .saved-talents {
            transform: translateY(0);
          }
        }
        &:not(.present) {
          .saved-talents { opacity: 0 }
        }
        .saved-talents {
          position: absolute;
          right: -1.3em;
          top:0;
          font-weight: normal;
          width: 1.2em;
          height: 1.2em;
          padding: 0;
          font-size: 0.6em;
          display: block;
          margin-top: -0.2em;
          transition: all 0.5s;
          transform: translateY(2em);

          &:before {
            content: "[";
          }
          &:after {
            content: "]";
          }
        }
      }
      .nav-link {
        font-weight: bolder;
      }
    }
  }
  .icon-logo {
    font-size: 4rem;
  }

  // override bootstrap. possible remove when mobile menu is made.
  .navbar-nav {
    text-align: right;
  }

  .nav-outer {
    display: flex;
    justify-content: space-between;
  }
  .nav-item {
    display: inline-block;
    float: none;
  }
  .nav-link {
    padding: 0;
  }
}