#navigation {
  @extend .navbar;
  @extend .navbar-fixed-top;
  transition: all 0.5s; 
  .logo {
    h1 {
      position: relative;
      span.icon-logo {
        font-size: 4rem;
        margin-top: -0.5rem;
        margin-left: -0.6rem;
      }
    }

  }
}