#nav-container {
  margin-top: $header-height;
}
#navigation {
  height: $header-height;
  @extend .navbar;
  @extend .navbar-fixed-top;
  transition: all 0.5s;
  padding-bottom: 0;

  &.white{
    background-color: white;
    .nav-item {
      &.current a:after {
        border-color: black;
      }
      a { color: black; }
    }
  }
  &.black {
    background-color: black;
    .nav-item {
      &.current a:after {
        border-color: $gray-lighter;
      }
      a { color: $gray-lighter; }
    }
  }

  .nav {
    float:right;
    .nav-item {
      margin-left: 0.4rem;
      position:relative;
      font-family: 'Julius Sans One', sans-serif;
      font-size: 0.8rem;
      opacity: .6;
      &.current, &:hover {
        opacity: 1;
      }
      &.current a:after {
        content: '';
        border-top: 1px solid;
        display:block;
        margin-bottom: -0.3rem;
      }
      &.faves {
        &.pop {
          opacity: 1;
        }
        &.present {
          margin-right: 0.4rem;
          .saved-talents {
            transform: translateY(0);
          }
        }
        &:not(.present) {
          .saved-talents { opacity: 0 }
        }
        .saved-talents {
          position: absolute;
          right: -1.3em;
          top:0.3em;
          font-weight: normal;
          width: 1.2em;
          height: 1.2em;
          padding: 0;
          font-size: 0.6em;
          display: block;
          margin-top: -0.2em;
          transition: all 0.5s;
          transform: translateY(2em);

          &:before {
            content: "[";
          }
          &:after {
            content: "]";
          }
        }
      }
      .nav-link {
        font-weight: bold;
      }
    }
  }
  .logo {
    h1 {
      position: relative;
      float:left;
      span.icon-logo {
        font-size: 4rem;
        margin-top: -0.5rem;
        margin-left: -0.6rem;
      }
    }
  }
}