#page-cover {
  position:relative;
  height: 380px;
  width: 100%;
  overflow: hidden;
  background-color: #000;
  z-index: 4;
  #cover-image-container {
    height: 100%;
    position: relative;
    @extend .container;
    img {
      &.conspiring {
        top: 100px;
        height: 150%;
        -webkit-filter: contrast(150%) brightness(110%);
      }  
      -webkit-filter: contrast(100%) brightness(80%);
      transition: -webkit-filter 1s;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
    }
  }
}

#page-header {
  position: relative;
  z-index: 4;
  margin-top: -100px;
  #header-content {
    padding-top: 60px;
    @extend .container;
    h1 {
      position: relative;
      .save-button {
        float: right;
      }
    }
  }
  #page-title {
    color: white;
    margin-bottom: 0;
  }
}