#talent-buttons {
  padding-left: 0.5rem;
} 
article.talent {
  .project-year {
    @extend .row;
    .project-year-number {
      @extend .col-sm-1;
      font-size: 24px;
      line-height: 24px;
      line-height: 1.1em;
    }
    .project-year-list {
      @extend .col-sm-8;
      h2.project-title {
        margin-bottom: 0;
      }
    }
  }
  .talent-atts {
    padding-bottom: 6rem;
    margin-top: 1.5rem;
  }
}

.talent-gallery {
  position: relative;
  height: calc(40vw * 1.618);
  overflow: hidden;
  .gallery-main {
    width: 40%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    float: left;
    img {
      height: 100%;
    }
  }
  .gallery-col {
    width: 20%;
    height: 100%;
    float: left;
    position: relative;
    &.col-1 {
      :first-child {
        height: 55%;
      }
      :nth-child(2) {
        height: 45%;
      }
    }
    &.col-2 {
      :first-child {
        height: 45%;
      }
      :nth-child(2) {
        height: 55%;
      }
    }

    &.col-3 {
      :first-child {
        height: 70%;
      }
      :nth-child(2) {
        height: 30%;
      }
    }
    .gallery-img-container {
      width: 100%;
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}

.talent-att {
  text-align: center;
  @extend .col-sm-6;
  @extend .col-md-3;
  padding-top: 0.5rem;
  h2  {
    font-size: 18px;
    display: inline-block;
    border-bottom: 1px solid white;
  }
  h1 {
    margin-top: 0.5rem;
  }
  span {
    display: inline-block;
    font-size: 4rem;
    border-radius: 50%;
    padding: 0.5rem;
    color: black;
    background-color: white;
    margin-bottom: 0.5rem;
    border: 2px solid black;

  }
}
a.talent-att {
  h1 {

  }
  h2 {
    transition: all 1s;
  }
  &:hover {
    h2 {

      border-bottom: 1px solid black;
    }
  }
}