#talent-buttons {
  padding-left: 0.5rem;
}

body.talents.show, .blog-page {
  #navigation {
    background-image: linear-gradient(black, transparent);
    background-color: transparent;
  }
}

body.talents.show {
  @include black-nav();
  background-color: black;
  .talent-atts {
    display: flex;
    margin: auto;
    width: 75%
  }
  article.talent {
    margin-top: 0;
    #page-cover {
      position:relative;
      height: 380px;
      width: 100%;
      overflow: hidden;
      background-color: #000;
      z-index: 4;
      #cover-image-container {
        height: 100%;
        position: relative;
        @extend .container;
        #cover-image {
          &.conspiring {
            top: 100px;
            height: 150%;
            -webkit-filter: brightness(100%);
          }
          -webkit-filter: brightness(80%);
          transition: -webkit-filter 1s;
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
        }
      }
    }

    #page-header {
      position: relative;
      z-index: 4;
      margin-top: -100px;
      #header-content {
        padding-top: 54px;
        @extend .container;
        h1 {
          padding-top: 0;
          position: relative;
          .save-button {
            float: right;
          }
        }
      }
      #page-title {
        color: white;
        margin-bottom: 0;
      }
    }
    .page-content {
        top: 380px;

    }
  }
}

.talent-att {
  text-align: center;
  @extend .col-xs-6;
  @extend .col-md-3;
  h2  {
    font-size: 16px;
    display: inline-block;
    border-bottom: 1px solid white;
  }
  span {
    display: inline-block;
    font-size: 2rem;
    border-radius: 50%;
    padding: 0.5rem;
    color: black;
    background-color: white;
    margin-bottom: 0.5rem;
    border: 2px solid black;

  }
}
a.talent-att {
  h1 {

  }
  h2 {
    transition: all 1s;
  }
  &:hover {
    h2 {

      border-bottom: 1px solid black;
    }
  }
}
.section-projects, .section-similar {
  margin-bottom: 3rem;
  h1.section-header {
    text-align: left;
    font-size: 24px;
    margin: 2rem 0 1rem 0;
  }
}
.section-projects {
  .project-card {
    @include make-row();
    .project-metadata {


      @include make-col();
      @include make-col-span(12);
      h2 {
        font-size: 1rem;
        font-weight: 400;
        font-family: sans-serif;
        display: inline-block;
        &:last-child {
          &:before {
            content: "|";
          }
        }
      }
      @include media-breakpoint-up(md) {
        @include make-col-span(4);
        h2 {
          display: block;
          &:last-child {
            &:before {
              content: "";
            }
          }
        }
        text-align:right;
        padding: 0.3rem;
        padding-top: 0.9rem;
      }
      @include media-breakpoint-up(lg) {
        @include make-col-span(3);
      }

    }
    .project-content {

      @extend .col-md-8;
      @extend .col-lg-9;
      h1 {
        margin-bottom: 0.1rem;
      }
      a {
        text-decoration: underline;
        color: $gray;
      }

    }

  }
}
