.card-container {
  @extend .col-sm-6;
  @extend .col-md-4;  
  @extend .col-lg-3;  
  padding: 0.3rem;
}
figure.talent-card {
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  border-radius: 0;
  background-color: black;
  margin: 0;
  &:hover {
    img {
      opacity: 0.6;;
      filter: blur(3px);
      -webkit-transform: scale3d(1.1,1.1,1.1);
      transform: scale3d(1.1,1.1,1.1);
    }
    h1 {

    }
    figcaption {
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,-100%,0);
        div.traits-container{
          transition-delay: 0.2s;
                  border-color: $gray-lighter;

          p {opacity: 1;}
        } 
    }
    .save-button {
      opacity: 1;
    }
  }
  .card-link {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    position: absolute;
    z-index: 2;
  }
  img {
    width: 100%;
    position: relative;
    display: block;
    opacity: 1;
    border-radius: 0;
    transition: all 0.5s;
  }
  figcaption {
    position: absolute;
    z-index: 2;
    transition: all 1s;
    left: 0;
    right: 0;
    top: 100%;
    margin-bottom: -0.4rem;
    -webkit-transform: translate3d(0,-2rem,0);
    transform: translate3d(0,-2rem,0);
    h1 {
      font-size: 24px;
      color: white;
      padding-left: 0.6rem;
    }
    div.traits-container {
      padding: 0.5rem 0 0 0;
      text-align: right;
      border-top: 1px solid transparent;
      transition: border-color 0.3s;
      width: 100%;
      margin-left: 0;
      &:last-child {margin-bottom:1rem;}

      p {
        padding-right: 1rem;
        text-transform: lowercase;
        opacity: 0;
        transition: opacity 0.5s;
        color: $gray-lighter;
        text-align: right;
        transition-delay:0.2s;
        margin-bottom: 0.2rem;
      } 
    }

  }
  .save-button {
    position: absolute;
    right: 0.5em;
    z-index: 3;
    opacity: 0;
    top: 0.5em;
    right: 0.5em;
    &.active {
      opacity: 1;
    }
  }
}