<aside id="no-faves-modal" class="modal fade bd-example-modal-sm" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">No favourites yet</h4>
      </div>
      <div class="modal-body">
        <p>Click on the bookmark icon <span class="icon icon-fave"></span> on a conspirator's page to save it for later.</p>        </div>
    </div>

  </div>
</aside>
