<nav id="navigation">
  <div class="container">
    <a class="logo" href="<%= root_path %>">
      <h1>
        <svg>
          <use xlink:href="<%= image_path 'logo-snakes.svg' %>#g"></use>
        </svg>
      </h1>
    </a>
  </div>
</nav>